# Dependencias
node_modules/
.pnp
.pnp.js

# Next.js build output
.next/
out/

# IDEs
.vscode/
.DS_Store

# Variables de entorno (¡Súper importante!)
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log